body {
  margin: 0;
  font-size: 62.5%;
  font-family: 'Ysabeau Office', sans-serif; 
}

.App {
  background: var(--blue);
  background: rgb(168,246,255);
  background: radial-gradient(circle, rgba(168,246,255,1) 0%, rgba(59,163,209,1) 78%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  p {
    margin: 6px 0;
  }
  
  h1 {
    font: 'Roboto', sans-serif; 
    font-size: 3em;
    margin: 0;
    padding: 12px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -1px;
    font-style: italic;
    background: rgb(83,83,83);
    background: linear-gradient(231deg, rgba(83,83,83,1) 0%, rgba(40,40,40,1) 78%);
    margin: 8px 0;
    display: inline-block;
    span { 
      display: block;
      font-style: initial;
      font-weight: normal;
      font-size: 14px
    }
  }
}

.empty-message {
  text-align: center;
  padding: 8px 0;
  margin: 0;
  color: #333;
  font-size: 1.5em;
}
